table{
    margin: 50px auto;
}
td {
    border: 1px solid black;
    text-align:center;
    vertical-align: middle;
    width:20px;
    height:20px;
    padding: 20px;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
}